:root {
    --prime-1: #7C8DA7;
    --prime-2: #4E6382;
    --prime-3: #354967;
    --prime-4: #213451;
    --prime-5: #102138;
    --text: #f5f5f5;
}

body {
    color: #333;
    overflow-x: hidden;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.btn i.zmdi {
    margin-right: 8px;
}

.jumbotron p {
    font-size: 1.5rem;
}

section {
    padding: 80px 0;
}

section:nth-child(even) {
    background-color: var(--prime-1);
}

#intro {
    margin-top: 58px;
    padding: 32px 0 64px;
    color: var(--text);
    background-color: var(--prime-5);
}

@media screen and (max-width: 1199px) {
    #intro {
        padding-top: 72px;
        height: auto;
    }
}

.jumbotron, .intro-image {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1199px) {
    .intro-image {
        margin-bottom: 0;
    }
}

#intro .jumbotron {
    padding-bottom: 32px;
}

.intro-image img {
    height: 520px;
}

@media screen and (max-width: 1199px) {
    .intro-image {
        margin-top: 40px;
    }

    .intro-image img {
        height: auto;
        width: 100%;
    }
}

.intro-buttons, .intro-subheading {
    margin-top: 40px;
}

footer {
    background-color: var(--prime-5);
    height: 80px;
    color: var(--text);
}

footer .container-md {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

footer p {
    display: inline-block;
    margin-bottom: 0;
}

footer img {
    height: 80px;
    width: auto;
    display: inline-block;
    margin-left: 16px;
}

.feature-row {
    margin-top: 64px;
    margin-bottom: 32px;
}

.feature-box {
    text-align: center;
}

.feature-box i.zmdi {
    font-size: 8rem;
    margin-bottom: 32px;
}

.section-buttons {
    margin-top: 48px;
}

.logo-box {
    display: inline-block;
    padding: 40px 80px 0 0;
}

.logo-image {
    height: 120px;
    padding: 16px 0;
}

.logo-box .logo-image img {
    height: 100%;
    width: auto;
}

.logo-box p {
    text-align: left;
    padding: 0 16px;
}

button.pronounce {
    border: 0;
    background-color: transparent;
    outline: none;
}


/**
 *
 * Navigation
 *
 */

@media screen and (max-width: 576px) {
    .navbar-collapse {
        top: 58px;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-color: var(--prime-5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-link {
        text-align: center;
        font-size: 3rem;
        color: white !important;
        background-image: linear-gradient(white 50%, white 50%);
        background-size: 10000px 4px;
        background-repeat: no-repeat;
        background-position: -10000px 4.5rem;
    }

    .navbar-nav .nav-link:hover {
        background-position: 0 4.5rem;
        transition: background-position 2s ease-in-out;
    }
}

/* From: https://codepen.io/jorenerene/pen/vxKbJb */
@media screen and (min-width: 577px) {
    .navbar-toggle {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .navbar-toggle.toggle-x {
        border: none;
        background: transparent !important;
        outline: none;
    }

    .navbar-toggle.toggle-x:hover {
        background: transparent !important;
    }

    .navbar-toggle.toggle-x .icon-bar {
        width: 22px;
        height: 2px;
        display: block;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        background-color: #fff;
    }

    .navbar-toggle.toggle-x .icon-bar:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    .navbar-toggle.toggle-x .icon-bar:nth-of-type(2) {
        margin-top: 4px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .navbar-toggle.toggle-x .icon-bar:nth-of-type(3) {
        margin-top: 4px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
    }

    .navbar-toggle.toggle-x.collapsed .icon-bar:nth-of-type(1) {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .navbar-toggle.toggle-x.collapsed .icon-bar:nth-of-type(2) {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .navbar-toggle.toggle-x.collapsed .icon-bar:nth-of-type(3) {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        padding: 9px 10px;
    }
}




/**
 *
 * Manual specific
 *
 */

.clean {
    margin-top: 59px;
}

.clean section {
    padding: 32px 0 0;
}

.clean section:nth-child(even) {
    background-color: #ffffff;
}
