:root {
    --prime-1: #7C8DA7;
    --prime-2: #4E6382;
    --prime-3: #354967;
    --prime-4: #213451;
    --prime-5: #102138;
}

body {
    color: #333;
    overflow-x: hidden;
    min-height: 100%;
}

.btn i.zmdi {
    margin-right: 8px;
}

.jumbotron p {
    font-size: 1.5rem;
}

section {
    padding: 60px 0;
}

#intro {
    padding-top: 73px;
    color: #f5f5f5;
    background-color: var(--prime-5);
    min-height: 100vh;
    height: 1px;
}

@media screen and (max-width: 1199px) {
    #intro {
        padding-top: 72px;
        height: auto;
    }
}

#intro .container-md, #intro .row {
    height: 100%;
}

.jumbotron, .intro-image {
    display: flex;
    align-items: center;
}

.intro-image {
    margin-bottom: 48px;
}

@media screen and (max-width: 1199px) {
    .intro-image {
        margin-bottom: 0;
    }
}

.intro-image img {
    height: 520px;
}

@media screen and (max-width: 1199px) {
    .intro-image {
        margin-top: 40px;
    }

    .intro-image img {
        height: auto;
        width: 100%;
    }
}

.intro-buttons, .intro-subheading {
    margin-top: 40px;
}
